@use "sass:math";
.header {
	height: 60*$px;
	max-width: 1200*$px;
	padding: 0 20*$px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	border-bottom: 1*$px solid var(--color-secondary);
}
.home-link {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 100%;
	outline: none;
	&:link, &:visited {
		text-decoration: none;
		font-size: 28*$px;
		color: inherit;
		transition: transform .2s;
	}
	&:hover, &:active {
		color: var(--color-primary);
		transform: scale(1.05);
	}
	&:focus {
		color: var(--color-accent);
		transform: scale(1.05);
	}
}
.main_icon {
	height: math.div(200%, 3);
	aspect-ratio: 5/4;
	fill: currentColor;
}
