<link
	rel="icon"
	type="image/png"
	href="{{ config.base_url }}/favicon/favicon-96x96.png"
	sizes="96x96"
/>
<link
	rel="icon"
	type="image/svg+xml"
	href="{{ config.base_url }}/favicon/favicon.svg"
/>
<link
	rel="shortcut icon"
	href="{{ config.base_url }}/favicon/favicon.ico"
/>
<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="{{ config.base_url }}/favicon/apple-touch-icon.png"
/>
<meta name="apple-mobile-web-app-title" content="{{ config.title }}" />
<link
	rel="manifest"
	href="{{ config.base_url }}/favicon/site.webmanifest"
/>
