{% extends "base.html" %}

{% block title %} Farzat's profile {% endblock %}

{% block content %}
<div class="hero">
	<div class="hero__text">
		<h1>
			<span class="--main">Hi! I am <span class="color-primary">Farzat</span>,</span>
			<span class="--sub">a <span class="color-gradient">software developer</span></span>
			<span class="--sub-sub">and <span class="text-stroke color-accent">computer enthusiast</span></span>
		</h1>
		<p>
		Learn more about me from the links below &dArr;
		</p>
		<div class="hero__cta">
			<a href="#" class="btn btn--secondary">Still a dummy link</a>
			<a href="#contact-info" class="btn btn--primary">Contact me</a>
		</div>
	</div>
	<div class="hero__img">
		<img src="/img/profile-pic.jpg" alt="Profile pic" class="profile-pic">
	</div>
</div>
<p>Unfortunately my website is still incomplete. I hope you like it nonetheless!</p>
{% endblock content %}
